
/*Contenido de cada Pagina del sitio WEB*/
main{
    
    .resumen{
        #resumen{
            grid-area: resumen;
        }
        #foto_resumen{
            grid-area: foto_resumen;
        }
        @include diseño(auto,520px,0px,30px 0px 0px 0px,grid);
        align-items: center;
        @include grilla("resumen foto_resumen ", 1.5fr 2fr, 1fr, center);

        .texto__resumen{
            @include diseño(515px,186px,0px,0px,block);
            justify-self: center;
            border-top: solid 2px $color-secundario;
            border-bottom: solid 2px $color-secundario;
            @include diseño_fuente($letra-texto,normal,400, 24px, 31px);
            color: $color-primario;

        }
        .imagen__resumen{
            width: 596px;
            height: 459px;
            border-radius:10px;
            justify-self: center;
            
        }
        @media (max-width:900px){
            .texto__resumen{
                height: 130px;
                font-size: 15px;
            }
            .imagen__resumen{
                width: 496px;
                height: 359px;
            }
        }
        @media (max-width:655px){
            
            .texto__resumen{
                height: 100px;
                width: 440px;
                font-size: 12px;
            }
            .imagen__resumen{
                width: 466px;
                height: 359px;
            }
        }
        @media (max-width:480px){
            
            .texto__resumen{
                height: 100px;
                width: 420px;
                font-size: 11px;
            }
            .imagen__resumen{
                width: 420px;
                height: 359px;
            }
        }
       
    }
    @media (max-width:900px){
        .resumen{
            width: auto;
            height:520px;
            @include grilla("resumen"
                            "foto_resumen ", 1fr, 1fr, center);
        }
        
    }
    @media (max-width:480px){
    
        .resumen{
            width: auto;
            height:520px;
        }
    }
    .clientes{
        @include diseño(auto,auto,0px,100px 0px 0px 0px ,block);
        align-items: center;

        .clientes__texto{
            @include diseño(500px,auto,0px,auto,flex);
            justify-content: space-around;
            @include diseño_fuente($letra-texto, normal, 400, 24px, 31px);
            border-top: solid 1px $color-secundario;
            border-bottom: solid 1px $color-secundario;
            color: $color-primario;
        }
        .clientes__grid{
            #cliente_1{
                grid-area:cliente_1;
            }
            #cliente_2{
                grid-area:cliente_2;
            }
            #cliente_3{
                grid-area:cliente_3;
            }
            #cliente_4{
                grid-area:cliente_4;
            }
            #cliente_5{
                grid-area:cliente_5;
            }
            #cliente_6{
                grid-area: cliente_6;
            }
            @include diseño(auto,auto,0px,20px 0px 0px 0px, grid);
            @include grilla( ". cliente_1 cliente_2 cliente_3 ."
                             ". cliente_4 cliente_5 cliente_6 .", 0.5fr 0.7fr 0.7fr 0.7fr 0.5fr, 1fr 1fr,center);

            .clientes__img{
                @include diseño(255px,192px,0px,0px 10px 30px 0px,block );
                justify-self: center;
                border-radius: 10px;
            }
            @media (max-width:900px){
                .clientes__img{
                    width: 155px;
                    height: 122px;
                }
            }
        
        }
        @media (max-width:900px){
            .clientes__texto{
                width: 300px;
                font-size: 15px;
            }
            
            .clientes__grid{
                @include grilla(". cliente_1 cliente_2 ."
                                ". cliente_3 cliente_4 ."
                                ". cliente_5 cliente_6 .",0.5fr 0.5fr 0.5fr 0.5fr, 1fr 1fr 1fr, center);
            }
        }
        @media (max-width:655px){

            .clientes{
               margin-top: 50px;
            }
        }
        
    }
    

    .QuienesSomos{
        #QuienesSomos_titulo{
            grid-area:QuienesSomos_titulo;
        }
        #QuienesSomos_parrafo{
            grid-area:QuienesSomos_parrafo;
        }
        
        #QuienesSomos_imagen{
            grid-area: QuienesSomos_imagen;
        }
        @include diseño(auto,auto,0px,50px 0px 60px 0px,grid);
        @include grilla("QuienesSomos_titulo QuienesSomos_imagen"
                        "QuienesSomos_parrafo QuienesSomos_imagen", 1fr 1fr, 1fr 2fr, justify-items);
        
        .QuienesSomos__titulo{
            @include diseño(80%,60px,0px,40px 0px 0px 20px,block);
            @include diseño_fuente($letra-texto, normal, 400, 32px, 31px);
            color: $color-primario;
            justify-items: center;
        }
        
        .QuienesSomos__parrafo{
            @include diseño(90%,auto,0px,0px 0px 0px 20px,block);
            @include diseño_fuente($letra-texto, normal, 400, 20px, 26px);
            color: $color-primario;
        }
        .QuienesSomos__parrafo--modifier{
            @include diseño_fuente($letra-marca, bold, 400, 23px, 24px);
        }
        .QuienesSomos__imagen{
            width: 400px;
            height: 500px;
            border-radius: 9px;
            align-self: center;
        
        }
        
        @media (max-width:900px){

            .QuienesSomos__titulo{
                font-size: 23px;
                padding-bottom: 10px;
                height: 118px;
            }
            
            .QuienesSomos__parrafo{
                font-size: 15px;
            }
            
            .QuienesSomos__parrafo--modifier{
                font-size: 15px;
            }
            
            .QuienesSomos__imagen{
                width: 300px;
                height: 400px;
            
            }

        
        }
        @media (max-width:655px){
            .QuienesSomos__titulo{
                font-size: 25px;
                text-align: center;
            }
            
            .QuienesSomos__parrafo{
                padding-top: 10px;
                font-size: 15px;
            }
            
            .QuienesSomos__parrafo--modifier{
                font-size: 15px;
            }
      
        }
        @media (max-width:480px){
    
   
            .QuienesSomos__titulo{
                font-size: 20px;
                margin:10px;
                height: 50px;
            }
            
            .QuienesSomos__parrafo{
                font-size: 12px;
            }
            
            .QuienesSomos__parrafo--modifier{
                font-size: 12px;
            }
        
            .QuienesSomos__imagen{
                width: 250px;
                height: 300px;
            
            }
        }
        
        
    }
    @media (max-width:655px){
        .QuienesSomos{
            margin-top: 20px;
            margin-bottom: 30px;
            @include grilla("QuienesSomos_titulo"
                            "QuienesSomos_imagen"
                            "QuienesSomos_parrafo", 1fr, 0.1fr 1fr 1fr, center);
            
        }
    }

    .Vision{
        #Vision_titulo{
            grid-area:Vision_titulo;
        }
        #Vision_parrafo{
            grid-area:Vision_parrafo;
        }
        #Vision_imagen{
            grid-area:Vision_imagen;
        }
        @include diseño(auto,auto,0px,50px 0px 60px 0px,grid);
        @include grilla("Vision_titulo Vision_imagen"
                        "Vision_parrafo Vision_imagen",1fr 1fr,1fr 2fr, justify-items);

        .Vision__titulo{
            @include diseño(80%,60px,0px,40px 0px 0px 20px,block);
            @include diseño_fuente($letra-texto, normal, 400, 32px, 31px);
            color: $color-primario;
        }
        
        .Vision__parrafo{
            @include diseño(90%,auto,0px,0px 0px 0px 20px,block);
            @include diseño_fuente($letra-texto, normal, 400, 20px, 26px);
            color: $color-primario;

            .Vision__parrafo--modifier{
                @include diseño_fuente($letra-marca, bold, 400, 23px, 24px);
            }
        
        }
        
        .Vision__imagen{
            width: 420px;
            height: 450px;
            border-radius: 9px;
            margin-top: 20px;
            margin-bottom: 20px;
            align-self: center;
        }
        @media (max-width:900px){

            .Vision__titulo{
                font-size: 23px;
                padding-bottom: 10px;
                height: 118px;
            }
            
            .Vision__parrafo{
                font-size: 15px;
                .Vision__parrafo--modifier{
                    font-size: 15px;
                }
            }
            
           
            
            .Vision__imagen{
                width: 300px;
                height: 400px;
            
            }

        
        }
        @media (max-width:655px){
            .Vision__titulo{
                font-size: 25px;
                text-align: center;
            }
            
            .Vision__parrafo{
                padding-top: 10px;
                font-size: 15px;
                .Vision__parrafo--modifier{
                    font-size: 15px;
                }
            }
            
            
      
        }
        @media (max-width:480px){
    
   
            .Vision__titulo{
                font-size: 20px;
                margin:10px;
                height: 50px;
            }
            
            .Vision__parrafo{
                font-size: 12px;
                .Vision__parrafo--modifier{
                    font-size: 12px;
                }
            }
            
           
        
            .Vision__imagen{
                width: 250px;
                height: 300px;
            
            }
        }
        
    }
    @media (max-width:655px){
        .Vision{
            margin-top: 20px;
            margin-bottom: 30px;
            @include grilla("Vision_titulo"
                            "Vision_imagen"
                            "Vision_parrafo", 1fr, 0.1fr 1fr 1fr, center);
            
        }
    }
   
    .Servicios{
        #Servicios_titulo_1{
            grid-area: Servicios_titulo_1;
        }
        #Servicios_lista_1{
            grid-area: Servicios_lista_1;
        }
        #Servicios_titulo_2{
            grid-area: Servicios_titulo_2;
        }
        #Servicios_lista_2{
            grid-area: Servicios_lista_2;
        }
        @include diseño(auto,auto,0px,50px 0px 50px 0px,grid);
        @include grilla("Servicios_titulo_1 Servicios_titulo_2"
                        "Servicios_lista_1 Servicios_lista_2", 1fr 1fr,0.3fr 0.3fr, center);
        .Servicios__titulo{
            width: auto;
            height: auto;
            @include diseño_fuente($letra-texto, normal,600, 32px, 42px);
            text-align: center;
            color: $color-primario;
            justify-self: center;
        }
        .Servicios__lista{
            width: auto;
            height: auto;
            margin-left: 40px;
            @include diseño_fuente( $letra-texto, normal, 400, 20px, 26px);
            color: $color-primario;
            justify-self: center;
        
        }
        
        .Servicios--modifier{
            border-left: solid 2px $color-secundario;
        }

        @media (max-width:900px){

            .Servicios__titulo{
                font-size: 23px;
                padding-bottom: 10px;
                height: 118px;
            }
            
            .Servicios__lista{
                font-size: 15px;
            }
        }
        @media (max-width:655px){
            .Servicios__titulo{
                font-size: 20px;
                text-align: center;
                padding-bottom: 30px;
            }
            
            .Servicios__lista{
                padding-top: 20px;
                font-size: 15px;
                
            }
            
            
      
        }
        @media (max-width:480px){
    
   
            .Servicios__titulo{
                font-size: 18px;
                height: 50px;
                padding-bottom: 100px;
            }
            
            .Servicios__lista{
                font-size: 12px;
               
            }

        }
    }

    .Proyectos{
        #Proyectos_titulo_1{
            grid-area: Proyectos_titulo_1;
        }
        #Proyectos_titulo_2{
            grid-area:Proyectos_titulo_2;
        }
        #Proyectos_titulo_3{
            grid-area:Proyectos_titulo_3;
        }
        #Proyectos_parrafo_1{
            grid-area:Proyectos_parrafo_1;
        }
        #Proyectos_parrafo_2{
            grid-area: Proyectos_parrafo_2;
        }
        #Proyectos_parrafo_3{
            grid-area: Proyectos_parrafo_3;
        }
        @include diseño(auto,auto,0px,50px 0px 50px 0px ,grid);
        @include grilla("Proyectos_titulo_1 Proyectos_titulo_2 Proyectos_titulo_3"
                        "Proyectos_parrafo_1 Proyectos_parrafo_2 Proyectos_parrafo_3",1fr 1fr 1fr,0.3fr 0.3fr,center);

        .Proyectos__titulo{
            @include diseño(auto,auto,0px,0px 0px 0px 30px ,block);
            @include diseño_fuente($letra-texto, normal, 600, 32px,42px);
            text-align: center;
            color: $color-primario;
        }
        .Proyectos__parrafo{
            @include diseño(auto,auto,0px,0px 0px 0px 30px ,block);
            @include diseño_fuente($letra-texto, normal, 400, 20px, 26px);
            color: $color-primario;
        }
        .Proyectos--modifier{
            border-left: solid 2px $color-secundario;
            padding-left: 10px;
        }
        @media (max-width:900px){

            .Proyectos__titulo{
                font-size: 20px;
                padding-bottom: 80px;
                height: 118px;
            }
            
            .Proyectos__parrafo{
                font-size: 15px;
            }
        }
        @media (max-width:655px){
            .Proyectos__titulo{
                font-size: 20px;
                text-align: center;
            }
            
            .Proyectos__parrafo{
                padding-top: 20px;
                font-size: 15px;
                
            }
            
            
      
        }

        @media (max-width:570px){

            @include grilla("Proyectos_titulo_1"
                            "Proyectos_parrafo_1"  
                            "Proyectos_titulo_2"
                            "Proyectos_parrafo_2"
                            "Proyectos_titulo_3"
                            "Proyectos_parrafo_3",1fr,0.1fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr,center);
            
            
            .Proyectos__titulo{
                font-size: 20px;
                height: auto;
                padding: 0px;
                margin: 0px;
                text-align: center;
            }
            
            .Proyectos__parrafo{
                font-size: 12px;
                padding: 0px;
                margin: 0px;
                text-align: center;
                
            }
            .Proyectos--modifier{
                border-left: none;
                padding-left: 0px;
            }



        }

    
    }

    .Contacto{
        
        width: auto;
        height: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        .Contacto--modifier{
            border-left: solid 2px $color-secundario;
            padding-left: 20px;
        }
        
        .Contacto__titulo{
            width: auto;
            height: auto;
            text-align: left;
            @include diseño_fuente( $letra-texto, normal, 600, 32px, 42px);
            color: $color-primario;
        }
        
        .Contacto__parrafo{
            width: auto;
            height: 50%;
            text-align: left;
            @include diseño_fuente($letra-texto, normal, 400, 20px, 26px);
            color: $color-primario;
        
        }
        
        .Contacto__telefono{
            @include diseño_fuente($letra-texto, normal, 600, 32px, 42px);
            color: $color-primario;
        }
        .Contacto__telefono--modifier{
            font-size: 62px;
        }
        
        
        .Contacto__formulario--texto{
            width: auto;
            height: auto;
            @include diseño_fuente($letra-texto, normal, 400, 24px, 31px);
            color: $color-primario;
        }
        
        .Contacto__formulario--respuesta{
            width: 400px;
            height: auto;
            background: $color-terciario;
            border: 1px solid $color-secundario;
        }
        
        .Contacto__boton{
            width: 168px;
            height: auto;
            @include diseño_fuente($letra-texto, normal, 600, 30px, 42px);
            border-radius: 9px;
            background: $color-primario;
            color: white;
            text-align: center;
        }
        @media (max-width:900px){

            .Contacto__titulo{
                font-size: 23px;
            }
            
            .Contacto__parrafo{
                font-size: 15px;
            }
            .Contacto__telefono{
                font-size: 20px;

            }
            .Contacto__telefono--modifier{
                font-size: 45px;
            }
            .Contacto__formulario--texto{
                font-size: 15px;
            }
            
            .Contacto__formulario--respuesta{
                font-size: 13px;
            }
            
            .Contacto__boton{
                font-size: 15px;
                width: 138px;
            }
        }
        @media (max-width:655px){
            .Contacto--modifier{
                border-left: none;
                padding: 10px 0px 0px 0px;
            }
        }
        @media (max-width:480px){
    
   
            .Contacto__titulo{
                font-size: 20px;
            }
            
            .Contacto__parrafo{
                font-size: 12px;
            }
            .Contacto__telefono{
                font-size: 16px;

            }
            .Contacto__telefono--modifier{
                font-size: 40px;
            }
            .Contacto__formulario--texto{
                font-size: 12px;
            }
            
            .Contacto__formulario--respuesta{
                font-size: 10px;
            }
            
            .Contacto__boton{
                font-size: 12px;
                width: 118px;
            }

        }
    }
  
}