/*Importaciones*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.cdnfonts.com/css/keania-one");
@import url("https://fonts.cdnfonts.com/css/k2d");
/*mixins*/ /*root*/
* {
  margin: 0;
  padding: 0;
}

/*Elimino caracteristicas que agrega bootstrap*/
p {
  margin-bottom: 0rem;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-left: 0rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 0px;
  line-height: 0px;
}

/*Elimino caracteristicas que agrega bootstrap*/
/*Barra de navegacion*/
nav {
  width: 100%;
  height: 40px;
  padding: 6px 0px 0px 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #DADADA;
  /*transformacion al pasar mouse por menu*/
}
nav a {
  color: #2F3CB1;
  text-decoration: none;
}
nav a:link {
  color: #2F3CB1;
  text-decoration: none;
}
nav .menu {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 10px;
  display: inline;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #2F3CB1;
  transition: background 1s;
  border-radius: 5px;
}
nav .menu:hover {
  background: #2F3CB1;
}
nav .menu a:hover {
  color: white;
}
nav .menu__iconos {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 3px;
  display: inline;
}
nav .menu__iconos--modifier {
  font-size: 28px;
  color: #2F3CB1;
  margin-right: 4px;
}
nav .menu__iconos--modifier:hover {
  animation: mover 0.3s;
  animation-iteration-count: infinite;
}
@media (max-width: 900px) {
  nav .menu {
    font-size: 15px;
    margin: 5px;
  }
  nav .menu__iconos--modifier {
    font-size: 15px;
  }
}
@media (max-width: 655px) {
  nav .menu {
    font-size: 10px;
  }
  nav .menu__iconos {
    margin: 0px;
  }
  nav .menu__iconos--modifier {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  nav .menu {
    font-size: 8px;
  }
  nav .menu__iconos {
    margin: 0px;
  }
  nav .menu__iconos--modifier {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 0;
    height: 20px;
  }
}
@keyframes mover {
  0% {
    transform: translate(0px, 1px) rotate(0deg);
  }
  25% {
    transform: translate(0px, 2px) rotate(1deg);
  }
  50% {
    transform: translate(0px, 3px) rotate(2deg);
  }
  75% {
    transform: translate(0px, 2px) rotate(1deg);
  }
  100% {
    transform: translate(0px, 1px) rotate(0deg);
  }
}
/*Encabezado*/
header .encabezado {
  width: 100%;
  height: 400px;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-areas: ". titulo ." ". subtitulo .";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  position: relative;
  /*opacidad a la imagen sin que afecte al texto*/
}
header .encabezado #titulo {
  grid-area: titulo;
}
header .encabezado #subtitulo {
  grid-area: subtitulo;
}
header .encabezado::before {
  content: "";
  background-image: url(../../sources/img/header.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}
header .encabezado h1 {
  position: relative;
  font-family: "Keania One", sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 96px;
  line-height: 117px;
  text-align: center;
  margin-top: 90px;
  color: #2F3CB1;
}
header .encabezado h2 {
  position: relative;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 100%;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 60px;
  text-align: center;
  color: #000000;
}
@media (max-width: 900px) {
  header .encabezado h1 {
    font-size: 60px;
  }
  header .encabezado h2 {
    font-size: 20px;
  }
}
@media (max-width: 655px) {
  header .encabezado h1 {
    font-size: 40px;
  }
  header .encabezado h2 {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  header .encabezado h1 {
    font-size: 30px;
  }
  header .encabezado h2 {
    font-size: 12px;
  }
}

/*Contenido de cada Pagina del sitio WEB*/
main .resumen {
  width: auto;
  height: 520px;
  padding: 0px;
  margin: 30px 0px 0px 0px;
  display: grid;
  align-items: center;
  grid-template-areas: "resumen foto_resumen ";
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 1fr;
  justify-items: center;
}
main .resumen #resumen {
  grid-area: resumen;
}
main .resumen #foto_resumen {
  grid-area: foto_resumen;
}
main .resumen .texto__resumen {
  width: 515px;
  height: 186px;
  padding: 0px;
  margin: 0px;
  display: block;
  justify-self: center;
  border-top: solid 2px #000000;
  border-bottom: solid 2px #000000;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #2F3CB1;
}
main .resumen .imagen__resumen {
  width: 596px;
  height: 459px;
  border-radius: 10px;
  justify-self: center;
}
@media (max-width: 900px) {
  main .resumen .texto__resumen {
    height: 130px;
    font-size: 15px;
  }
  main .resumen .imagen__resumen {
    width: 496px;
    height: 359px;
  }
}
@media (max-width: 655px) {
  main .resumen .texto__resumen {
    height: 100px;
    width: 440px;
    font-size: 12px;
  }
  main .resumen .imagen__resumen {
    width: 466px;
    height: 359px;
  }
}
@media (max-width: 480px) {
  main .resumen .texto__resumen {
    height: 100px;
    width: 420px;
    font-size: 11px;
  }
  main .resumen .imagen__resumen {
    width: 420px;
    height: 359px;
  }
}
@media (max-width: 900px) {
  main .resumen {
    width: auto;
    height: 520px;
    grid-template-areas: "resumen" "foto_resumen ";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
}
@media (max-width: 480px) {
  main .resumen {
    width: auto;
    height: 520px;
  }
}
main .clientes {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 100px 0px 0px 0px;
  display: block;
  align-items: center;
}
main .clientes .clientes__texto {
  width: 500px;
  height: auto;
  padding: 0px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
  color: #2F3CB1;
}
main .clientes .clientes__grid {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 20px 0px 0px 0px;
  display: grid;
  grid-template-areas: ". cliente_1 cliente_2 cliente_3 ." ". cliente_4 cliente_5 cliente_6 .";
  grid-template-columns: 0.5fr 0.7fr 0.7fr 0.7fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
main .clientes .clientes__grid #cliente_1 {
  grid-area: cliente_1;
}
main .clientes .clientes__grid #cliente_2 {
  grid-area: cliente_2;
}
main .clientes .clientes__grid #cliente_3 {
  grid-area: cliente_3;
}
main .clientes .clientes__grid #cliente_4 {
  grid-area: cliente_4;
}
main .clientes .clientes__grid #cliente_5 {
  grid-area: cliente_5;
}
main .clientes .clientes__grid #cliente_6 {
  grid-area: cliente_6;
}
main .clientes .clientes__grid .clientes__img {
  width: 255px;
  height: 192px;
  padding: 0px;
  margin: 0px 10px 30px 0px;
  display: block;
  justify-self: center;
  border-radius: 10px;
}
@media (max-width: 900px) {
  main .clientes .clientes__grid .clientes__img {
    width: 155px;
    height: 122px;
  }
}
@media (max-width: 900px) {
  main .clientes .clientes__texto {
    width: 300px;
    font-size: 15px;
  }
  main .clientes .clientes__grid {
    grid-template-areas: ". cliente_1 cliente_2 ." ". cliente_3 cliente_4 ." ". cliente_5 cliente_6 .";
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
  }
}
@media (max-width: 655px) {
  main .clientes .clientes {
    margin-top: 50px;
  }
}
main .QuienesSomos {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 50px 0px 60px 0px;
  display: grid;
  grid-template-areas: "QuienesSomos_titulo QuienesSomos_imagen" "QuienesSomos_parrafo QuienesSomos_imagen";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  justify-items: justify-items;
}
main .QuienesSomos #QuienesSomos_titulo {
  grid-area: QuienesSomos_titulo;
}
main .QuienesSomos #QuienesSomos_parrafo {
  grid-area: QuienesSomos_parrafo;
}
main .QuienesSomos #QuienesSomos_imagen {
  grid-area: QuienesSomos_imagen;
}
main .QuienesSomos .QuienesSomos__titulo {
  width: 80%;
  height: 60px;
  padding: 0px;
  margin: 40px 0px 0px 20px;
  display: block;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 31px;
  color: #2F3CB1;
  justify-items: center;
}
main .QuienesSomos .QuienesSomos__parrafo {
  width: 90%;
  height: auto;
  padding: 0px;
  margin: 0px 0px 0px 20px;
  display: block;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #2F3CB1;
}
main .QuienesSomos .QuienesSomos__parrafo--modifier {
  font-family: "Keania One", sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
}
main .QuienesSomos .QuienesSomos__imagen {
  width: 400px;
  height: 500px;
  border-radius: 9px;
  align-self: center;
}
@media (max-width: 900px) {
  main .QuienesSomos .QuienesSomos__titulo {
    font-size: 23px;
    padding-bottom: 10px;
    height: 118px;
  }
  main .QuienesSomos .QuienesSomos__parrafo {
    font-size: 15px;
  }
  main .QuienesSomos .QuienesSomos__parrafo--modifier {
    font-size: 15px;
  }
  main .QuienesSomos .QuienesSomos__imagen {
    width: 300px;
    height: 400px;
  }
}
@media (max-width: 655px) {
  main .QuienesSomos .QuienesSomos__titulo {
    font-size: 25px;
    text-align: center;
  }
  main .QuienesSomos .QuienesSomos__parrafo {
    padding-top: 10px;
    font-size: 15px;
  }
  main .QuienesSomos .QuienesSomos__parrafo--modifier {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  main .QuienesSomos .QuienesSomos__titulo {
    font-size: 20px;
    margin: 10px;
    height: 50px;
  }
  main .QuienesSomos .QuienesSomos__parrafo {
    font-size: 12px;
  }
  main .QuienesSomos .QuienesSomos__parrafo--modifier {
    font-size: 12px;
  }
  main .QuienesSomos .QuienesSomos__imagen {
    width: 250px;
    height: 300px;
  }
}
@media (max-width: 655px) {
  main .QuienesSomos {
    margin-top: 20px;
    margin-bottom: 30px;
    grid-template-areas: "QuienesSomos_titulo" "QuienesSomos_imagen" "QuienesSomos_parrafo";
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    justify-items: center;
  }
}
main .Vision {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 50px 0px 60px 0px;
  display: grid;
  grid-template-areas: "Vision_titulo Vision_imagen" "Vision_parrafo Vision_imagen";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  justify-items: justify-items;
}
main .Vision #Vision_titulo {
  grid-area: Vision_titulo;
}
main .Vision #Vision_parrafo {
  grid-area: Vision_parrafo;
}
main .Vision #Vision_imagen {
  grid-area: Vision_imagen;
}
main .Vision .Vision__titulo {
  width: 80%;
  height: 60px;
  padding: 0px;
  margin: 40px 0px 0px 20px;
  display: block;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 31px;
  color: #2F3CB1;
}
main .Vision .Vision__parrafo {
  width: 90%;
  height: auto;
  padding: 0px;
  margin: 0px 0px 0px 20px;
  display: block;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #2F3CB1;
}
main .Vision .Vision__parrafo .Vision__parrafo--modifier {
  font-family: "Keania One", sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
}
main .Vision .Vision__imagen {
  width: 420px;
  height: 450px;
  border-radius: 9px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}
@media (max-width: 900px) {
  main .Vision .Vision__titulo {
    font-size: 23px;
    padding-bottom: 10px;
    height: 118px;
  }
  main .Vision .Vision__parrafo {
    font-size: 15px;
  }
  main .Vision .Vision__parrafo .Vision__parrafo--modifier {
    font-size: 15px;
  }
  main .Vision .Vision__imagen {
    width: 300px;
    height: 400px;
  }
}
@media (max-width: 655px) {
  main .Vision .Vision__titulo {
    font-size: 25px;
    text-align: center;
  }
  main .Vision .Vision__parrafo {
    padding-top: 10px;
    font-size: 15px;
  }
  main .Vision .Vision__parrafo .Vision__parrafo--modifier {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  main .Vision .Vision__titulo {
    font-size: 20px;
    margin: 10px;
    height: 50px;
  }
  main .Vision .Vision__parrafo {
    font-size: 12px;
  }
  main .Vision .Vision__parrafo .Vision__parrafo--modifier {
    font-size: 12px;
  }
  main .Vision .Vision__imagen {
    width: 250px;
    height: 300px;
  }
}
@media (max-width: 655px) {
  main .Vision {
    margin-top: 20px;
    margin-bottom: 30px;
    grid-template-areas: "Vision_titulo" "Vision_imagen" "Vision_parrafo";
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    justify-items: center;
  }
}
main .Servicios {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 50px 0px 50px 0px;
  display: grid;
  grid-template-areas: "Servicios_titulo_1 Servicios_titulo_2" "Servicios_lista_1 Servicios_lista_2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr;
  justify-items: center;
}
main .Servicios #Servicios_titulo_1 {
  grid-area: Servicios_titulo_1;
}
main .Servicios #Servicios_lista_1 {
  grid-area: Servicios_lista_1;
}
main .Servicios #Servicios_titulo_2 {
  grid-area: Servicios_titulo_2;
}
main .Servicios #Servicios_lista_2 {
  grid-area: Servicios_lista_2;
}
main .Servicios .Servicios__titulo {
  width: auto;
  height: auto;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #2F3CB1;
  justify-self: center;
}
main .Servicios .Servicios__lista {
  width: auto;
  height: auto;
  margin-left: 40px;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #2F3CB1;
  justify-self: center;
}
main .Servicios .Servicios--modifier {
  border-left: solid 2px #000000;
}
@media (max-width: 900px) {
  main .Servicios .Servicios__titulo {
    font-size: 23px;
    padding-bottom: 10px;
    height: 118px;
  }
  main .Servicios .Servicios__lista {
    font-size: 15px;
  }
}
@media (max-width: 655px) {
  main .Servicios .Servicios__titulo {
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
  }
  main .Servicios .Servicios__lista {
    padding-top: 20px;
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  main .Servicios .Servicios__titulo {
    font-size: 18px;
    height: 50px;
    padding-bottom: 100px;
  }
  main .Servicios .Servicios__lista {
    font-size: 12px;
  }
}
main .Proyectos {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 50px 0px 50px 0px;
  display: grid;
  grid-template-areas: "Proyectos_titulo_1 Proyectos_titulo_2 Proyectos_titulo_3" "Proyectos_parrafo_1 Proyectos_parrafo_2 Proyectos_parrafo_3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr;
  justify-items: center;
}
main .Proyectos #Proyectos_titulo_1 {
  grid-area: Proyectos_titulo_1;
}
main .Proyectos #Proyectos_titulo_2 {
  grid-area: Proyectos_titulo_2;
}
main .Proyectos #Proyectos_titulo_3 {
  grid-area: Proyectos_titulo_3;
}
main .Proyectos #Proyectos_parrafo_1 {
  grid-area: Proyectos_parrafo_1;
}
main .Proyectos #Proyectos_parrafo_2 {
  grid-area: Proyectos_parrafo_2;
}
main .Proyectos #Proyectos_parrafo_3 {
  grid-area: Proyectos_parrafo_3;
}
main .Proyectos .Proyectos__titulo {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px 0px 0px 30px;
  display: block;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #2F3CB1;
}
main .Proyectos .Proyectos__parrafo {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px 0px 0px 30px;
  display: block;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #2F3CB1;
}
main .Proyectos .Proyectos--modifier {
  border-left: solid 2px #000000;
  padding-left: 10px;
}
@media (max-width: 900px) {
  main .Proyectos .Proyectos__titulo {
    font-size: 20px;
    padding-bottom: 80px;
    height: 118px;
  }
  main .Proyectos .Proyectos__parrafo {
    font-size: 15px;
  }
}
@media (max-width: 655px) {
  main .Proyectos .Proyectos__titulo {
    font-size: 20px;
    text-align: center;
  }
  main .Proyectos .Proyectos__parrafo {
    padding-top: 20px;
    font-size: 15px;
  }
}
@media (max-width: 570px) {
  main .Proyectos {
    grid-template-areas: "Proyectos_titulo_1" "Proyectos_parrafo_1" "Proyectos_titulo_2" "Proyectos_parrafo_2" "Proyectos_titulo_3" "Proyectos_parrafo_3";
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr;
    justify-items: center;
  }
  main .Proyectos .Proyectos__titulo {
    font-size: 20px;
    height: auto;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  main .Proyectos .Proyectos__parrafo {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  main .Proyectos .Proyectos--modifier {
    border-left: none;
    padding-left: 0px;
  }
}
main .Contacto {
  width: auto;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
main .Contacto .Contacto--modifier {
  border-left: solid 2px #000000;
  padding-left: 20px;
}
main .Contacto .Contacto__titulo {
  width: auto;
  height: auto;
  text-align: left;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #2F3CB1;
}
main .Contacto .Contacto__parrafo {
  width: auto;
  height: 50%;
  text-align: left;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #2F3CB1;
}
main .Contacto .Contacto__telefono {
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #2F3CB1;
}
main .Contacto .Contacto__telefono--modifier {
  font-size: 62px;
}
main .Contacto .Contacto__formulario--texto {
  width: auto;
  height: auto;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #2F3CB1;
}
main .Contacto .Contacto__formulario--respuesta {
  width: 400px;
  height: auto;
  background: #DADADA;
  border: 1px solid #000000;
}
main .Contacto .Contacto__boton {
  width: 168px;
  height: auto;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
  border-radius: 9px;
  background: #2F3CB1;
  color: white;
  text-align: center;
}
@media (max-width: 900px) {
  main .Contacto .Contacto__titulo {
    font-size: 23px;
  }
  main .Contacto .Contacto__parrafo {
    font-size: 15px;
  }
  main .Contacto .Contacto__telefono {
    font-size: 20px;
  }
  main .Contacto .Contacto__telefono--modifier {
    font-size: 45px;
  }
  main .Contacto .Contacto__formulario--texto {
    font-size: 15px;
  }
  main .Contacto .Contacto__formulario--respuesta {
    font-size: 13px;
  }
  main .Contacto .Contacto__boton {
    font-size: 15px;
    width: 138px;
  }
}
@media (max-width: 655px) {
  main .Contacto .Contacto--modifier {
    border-left: none;
    padding: 10px 0px 0px 0px;
  }
}
@media (max-width: 480px) {
  main .Contacto .Contacto__titulo {
    font-size: 20px;
  }
  main .Contacto .Contacto__parrafo {
    font-size: 12px;
  }
  main .Contacto .Contacto__telefono {
    font-size: 16px;
  }
  main .Contacto .Contacto__telefono--modifier {
    font-size: 40px;
  }
  main .Contacto .Contacto__formulario--texto {
    font-size: 12px;
  }
  main .Contacto .Contacto__formulario--respuesta {
    font-size: 10px;
  }
  main .Contacto .Contacto__boton {
    font-size: 12px;
    width: 118px;
  }
}

footer {
  width: auto;
  height: 80px;
  padding: 5px;
  margin: 0px;
  display: grid;
  background-color: #DADADA;
  grid-template-areas: ". titulo_footer ." ". subtitulo_footer ." ". iconos_footer ." "copyright_footer . .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
footer #titulo_footer {
  grid-area: titulo_footer;
}
footer #subtitulo_footer {
  grid-area: subtitulo_footer;
}
footer #iconos_footer {
  grid-area: iconos_footer;
}
footer #copyright_footer {
  grid-area: copyright_footer;
}
footer .pie__copyright {
  width: 100%;
  height: 18px;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: start;
  color: #2F3CB1;
}
footer .pie__marca {
  width: 100%;
  height: 19px;
  font-family: "Keania One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2F3CB1;
}
footer .pie__descripcion {
  width: 100%;
  height: 16px;
  margin-top: 3px;
  font-family: "K2D", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #2F3CB1;
}
footer .pie__iconos {
  width: auto;
  height: auto;
  display: inline-block;
  margin-top: 3px;
}
footer .pie__iconos:hover {
  animation: mover 0.3s;
  animation-iteration-count: infinite;
}
footer .pie__centrar {
  margin-left: 0%;
}
@media (max-width: 900px) {
  footer .pie__copyright {
    font-size: 9px;
  }
  footer .pie__marca {
    font-size: 13px;
  }
  footer .pie__descripcion {
    font-size: 8px;
  }
  footer .pie__iconos {
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 3px;
  }
}
@media (max-width: 480px) {
  footer .pie__copyright {
    font-size: 8px;
  }
}

@keyframes mover {
  0% {
    transform: translate(0px, 1px) rotate(0deg);
  }
  25% {
    transform: translate(0px, 2px) rotate(1deg);
  }
  50% {
    transform: translate(0px, 3px) rotate(2deg);
  }
  75% {
    transform: translate(0px, 2px) rotate(1deg);
  }
  100% {
    transform: translate(0px, 1px) rotate(0deg);
  }
}

/*# sourceMappingURL=styles.css.map */
